@media screen and (max-width: 700px) {


    .header__container {
        text-align: center;
        width: 100%;
    }

    .header__container .header__container__logo {
        width: 45%;
    }

    .main__container__left-images {
        display: none;
    }

    .header__container .header__container__right-images {
        display: none;
    }

    .header__container__right-images-blue {
        display: none;
    }

    .header__container__right-images-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 22.5%;
    }

    .header__container__left-images-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 22.5%;
    }


    .main__container {
        overflow: hidden;
    }


    .main__container__left-images-mobile {
        display: block;
        position: absolute;
        width: 25%;
        left: 0;
        top: 350px;
        z-index: 2;
    }

    .main__container__computer-images {
        width: 150px;
        top: 340px;
        right: 0;

    }

    .main__container__how-to__cards__card.card-2 {
        z-index: -2;
    }

    .main__container .main__container__how-to {
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    .main__container .main__container__how-to h1 {
        width: 65%;
        font-size: 24px;

    }

    .main__container__how-to__cards__card {
        width: 282px;
    }

    .main__container__how-to__cards__card.main__container__how-to__cards__card.card-2 {
        z-index: 3;
    }

    .main__container__how-to__container-link {
        margin: 50px auto;
    }

    .separation {
        margin: 20px auto;
    }

    .separation img {
        width: 100%;
    }

    .games .games__title {
        width: 90%;
        font-size: 24px;
    }

    .games .games__slider {
        height: 510px;
    }

    .slider__slider-container__block {
        margin: 20px auto;
        width: 195px;
        height: 480px;


    }

    .right_green_block {
        width: 25%;
        bottom: calc(10% - 252.35px / 2);
        right: -20%;
        overflow: hidden;
    }

    .left-arrow {
        top: 50%;
    }

    .right-arrow {
        top: 50%;
    }

    .left-image-blue {
        width: 30%;
        left: -23%;
        top: -8%;
    }

    .down_left_mouse {
        width: 77.3px;
        top: 20px;
        left: -10%;
    }

    .right_cube {
        width: 28%;
        right: -15px;
        top: -5%;
    }

    .plus_symbol_down {
        width: 15%;
        top: 25%;
        left: -5%;
    }

    p.before-footer {
        margin: 10px auto;
        width: 95%;
    }

    

    .code-input {
        width: 207px;
    }

    .client-info__identity__input {
        display: block;

    }

    .client-info__email__input {
        display: block;
    }

    .client-info input {
        display: inline-block;
        width: 200px;
    }


    .bg-modal-mobile {
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.705);
        position: fixed;
        top: 0;
        z-index: 10;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .modal-content {
        width: 90%;
        display: block;
        height: initial;
    }

    .modal-content h1.title-mobile {
        color: #339dd2;
        font-size: 24px;
        width: 65%;
        text-align: center;
        margin: 30px auto 5px auto;
    }

    .modal-content .pop_up_image_mobile {
        width: 306.35px;
        height: auto;
        position: relative;
        left: calc(50% - 306.35px / 2 );
    }
    .modal-content .text-mobile{
        text-align: center;
    }
}


.confirm{
width: 90%;
overflow: hidden;
}


.confirm-container{
    margin: 50px 10px;
}